body{
  margin:0;
  font-family: Arial;
  background:#0a0f1c;
  color:white;
}

/* INTRO */

#intro{
  position:fixed;
  width:100%;
  height:100vh;
  background:linear-gradient(#0a0f1c,#0f2747);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.logo{
  font-size:60px;
  color:#4da6ff;
  animation:fade 2s;
}

.lema{
  font-size:20px;
  color:#cce6ff;
}

.wave{
  position:absolute;
  bottom:0;
  width:100%;
  height:200px;
  background:linear-gradient(#4da6ff,#003366);
  animation:bajar 3s forwards;
  animation-delay:2s;
}

@keyframes fade{
  from{opacity:0}
  to{opacity:1}
}

@keyframes bajar{
  to{transform:translateY(100vh)}
}

/* HEADER */

header{
  background:#081426;
  padding:15px;
  position:sticky;
  top:0;
}

nav a{
  color:white;
  margin:10px;
  text-decoration:none;
}

nav a:hover{
  color:#4da6ff;
}

/* SECTIONS */

.section{
  padding:40px;
}

.news-card{
  background:#111a2e;
  padding:20px;
  margin:10px 0;
  cursor:pointer;
  border-radius:10px;
}

.news-card:hover{
  background:#162544;
}

.contenido{
  max-height:0;
  overflow:hidden;
  transition:0.5s;
}

.contenido.abierto{
  max-height:200px;
}

footer{
  text-align:center;
  padding:20px;
  background:#050a14;
}
